# Patterns to ignore when building packages.
.DS_Store
.git/
.gitignore
.bzr/
.hg/
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
.github/
.gitlab-ci.yml
.travis.yml
Makefile
tests/
*_test.yaml
Chart.lock
.env
*.local
